

<!--<div class="o-layer o-layer--base">-->
    <div class="o-retain  o-retain--6">
        <div class="o-text-block rte-text">
            
                    <h2>Nile Square</h2>
                    <p>
                        Fancy hotdogs, old-school pizzas, homemade organic fries, and authentic Surinam dishes. new this year is the
                        Banh Xeo; a crispy rice flour pancake filled with shrimp or meat and more Vietnamese specialties such as
                        spring rolls and noodle soup Pho.
                    </p>
                    <h2>Tigris</h2>
                    <p>
                        On the roof: organic, homemade meatballs typical of The Netherlands!PlazaCoffee, pastries, ice-cream and
                        sandwiches.
                    </p>
                   
        </div>
    </div>
<!--</div>-->

