

<div class="o-list-transition o-list-transition--in-from-below o-list-transition--out-to-below" data-list-transition>
    <button
    type="button"
    
    
    class="c-button        o-list-transition__toggle"
    
    
    
    data-list-transition-toggle
    >
    <span class="c-button__inner">
        <span class="c-button__label  ">
            Demo
        </span>
    
    
      </span>
    </button>
    <div class="o-list-transition__container  o-list-transition__container--collapsed" data-list-transition-container>
        <ul class="o-list-clean  o-flow">
            <li class="o-list-transition__item" data-list-transition-item="1">Lorem ipsum dolor.</li>
            <li class="o-list-transition__item" data-list-transition-item="1">Distinctio officia, recusandae.</li>
            <li class="o-list-transition__item" data-list-transition-item="2">Obcaecati, quia unde.</li>
            <li class="o-list-transition__item" data-list-transition-item="2">Expedita, perspiciatis tempore?</li>
            <li class="o-list-transition__item" data-list-transition-item="2">Aliquid nesciunt, quibusdam!</li>
            <li class="o-list-transition__item" data-list-transition-item="3">Nam, odio, repellat?</li>
            <li class="o-list-transition__item" data-list-transition-item="4">Assumenda, odit, rerum?</li>
            <li class="o-list-transition__item" data-list-transition-item>Ad autem, quisquam.</li>
            <li class="o-list-transition__item" data-list-transition-item>Aperiam, impedit, praesentium.</li>
            <li class="o-list-transition__item" data-list-transition-item>Aperiam, impedit, praesentium.</li>
            <li class="o-list-transition__item" data-list-transition-item>Aperiam, impedit, praesentium.</li>
            <li class="o-list-transition__item" data-list-transition-item>Aperiam, impedit, praesentium.</li>
            <li class="o-list-transition__item" data-list-transition-item>Aperiam, impedit, praesentium.</li>
            <li class="o-list-transition__item" data-list-transition-item>Aperiam, impedit, praesentium.</li>
            <li class="o-list-transition__item" data-list-transition-item>Aperiam, impedit, praesentium.</li>
        </ul>
    </div>
</div>


