

<div class="c-background-video">
        <video
                class="c-background-video__universal"
                muted autoplay playsinline aria-hidden="true" loop>
            <source src="/video/HEVC/jazz_orange_desktop-hevc.mp4" type='video/mp4; codecs="mp4"' />
            <source src="/video/VP9/jazz_orange_desktop-vp9.webm" type='video/webm; codecs="vp9"' />
            <source src="/video/HEVC/jazz_orange_desktop-hevc.mp4" type='video/mp4; codecs="hvc1"' />
            <source src="/video/H264/jazz_orange_desktop-h264.mp4" type="video/mp4" />
    </video>
</div>

