

<div class="t-theme">

        <div>
            <h1>some heading</h1>
            <p>some text</p>
            <button
type="button"


class="c-button        "




>
<span class="c-button__inner">
    <span class="c-button__label  ">
        Button label
    </span>


  </span>
</button>

            <button
type="button"


class="c-button     c-button--blue   "




>
<span class="c-button__inner">
    <span class="c-button__label  ">
        Blue
    </span>


  </span>
</button>

            <button
type="button"


class="c-button    c-button--active c-button--pink   "




>
<span class="c-button__inner">
    <span class="c-button__label  ">
        Pink Active
    </span>


  </span>
</button>

            <div class="c-background-video">
        <video
                class="c-background-video__universal"
                muted autoplay playsinline aria-hidden="true" loop>
            <source src="/video/HEVC/prefestival_desktop-hevc.mp4" type='video/mp4; codecs="mp4"' />
            <source src="/video/VP9/prefestival_desktop-vp9.webm" type='video/webm; codecs="vp9"' />
            <source src="/video/HEVC/prefestival_desktop-hevc.mp4" type='video/mp4; codecs="hvc1"' />
            <source src="/video/H264/prefestival_desktop-h264.mp4" type="video/mp4" />
    </video>
</div>

            <img src="/img/icons/facebook.svg" alt=" icon">

            <img src="/img/icons/chevron-down.svg" alt=" icon">

            <input
        type="text"
        value=""
        name="HeaderSearch"
        class="c-input-text  c-header__search-input" id=""
        placeholder="Search"
        
        
        
        aria-label="Search">

            <div style="display: flex; flex-flow: row nowrap; gap: 10px">
                <div class="c-lineup" data-lineup>
    <div class="o-layer o-layer--base">
        <div class="canvas-wrapper">
            <h2 class="u-text-h1 u-text-center">Lineup</h2>
        </div>
    </div>

    <fieldset>
        <legend class="u-visually-hidden">Pick a day to show the program</legend>
        <div class="c-lineup__switches" data-lineup-switcher>
                <div class="c-button c-button--yellow c-button--active c-lineup__switch">
                    <label class="u-text-s-heavy">
                        <input type="radio" name="program" value="program-day-1"
                               checked data-lineup-switch>
                        Friday 07 July
                    </label>
                </div>
                <div class="c-button c-button--blue c-lineup__switch">
                    <label class="u-text-s-heavy">
                        <input type="radio" name="program" value="program-day-2"
                                data-lineup-switch>
                        Saturday 08 July
                    </label>
                </div>
                <div class="c-button c-button--orange c-lineup__switch">
                    <label class="u-text-s-heavy">
                        <input type="radio" name="program" value="program-day-3"
                                data-lineup-switch>
                        Sunday 09 July
                    </label>
                </div>
        </div>
    </fieldset>
    <ol class="o-list-clean c-lineup__program">
            <li>
                <div id="program-day-1" class="o-list-transition o-list-transition--in-from-below o-list-transition--in" data-list-transition="delay-in=0.5s">
                    <ul class="c-lineup__list c-lineup__list--yellow" data-lineup-day>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Alabaster DePlume
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Andrew Cyrille Quartet
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Bia Ferreira
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Bill Frisell FOUR ft. Greg Tardy, Gerald Clayton, and Johnathan Blake
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Buddy Guy - Dammn Right Farewell
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Camilla George
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Cha Wa
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Danielle Ponder
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Dave Holland New Quartet featuring Kris Davis, Jaleel Shaw and Nasheet Waits
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Duckwrth
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Ekdom&#x27;s Funky Music Trip
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Fergus McCreadie Trio
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Fred Hersch &amp; Esperanza Spalding
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Jasper Blom Quartet with Pablo Held
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Jazz at Lincoln Center Orchestra with Wynton Marsalis
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Kenny Barron Quartet
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Kika Sprangers Quintet
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Linda May Han Oh
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Little Simz
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Loyle Carner
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Marco Mezquida Trio
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Maria Schneider &amp; Oslo Jazz Ensemble presents &#x27;Data Lords&#x27;
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Mavis Staples
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Mette Rasmussen Trio North
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                MonoNeon
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Stormzy
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                SuperBlue: Kurt Elling &amp; Charlie Hunter special guest Huntertones Horns
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Terri Lyne Carrington / New Standards
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                The Hi-Stakes
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                The Teskey Brothers
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Trio Da Kali &amp; North Sea String Quartet
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Van Morrison
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Yaya Bey
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Yussef Dayes
                            </li>
                    </ul>
                </div>
            </li>
            <li>
                <div id="program-day-2" class="o-list-transition o-list-transition--in-from-below" data-list-transition="delay-in=0.5s">
                    <ul class="c-lineup__list c-lineup__list--blue" data-lineup-day>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Abdullah Ibrahim Trio
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Anna Webber Simple Trio
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Brandee Younger Trio
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                CHARLES TOLLIVER * AFRICA / BRASS ft. Binker Golding,  Antonio Faraò, Chris Dahlgren, Alvin Queen &amp; New Rotterdam Jazz Orchestra
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                DeWolff &amp; Dawn Brothers present Double Cream
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Eloise
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Eve Risser Red Desert Orchestra
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Fred Hersch, Drew Gress, Joey Baron
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Gard Nilssen&#x27;s Supersonic Orchestra
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Jacob Banks
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Jalen Ngonda
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Jan Garbarek
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Jeff Parker Quartet
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Jill Scott
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Kamaal Williams
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Kenny Garrett Quintet
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Kokoroko
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Lakecia Benjamin
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Laura Jurd
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Lucas Santana 5tet
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Marcus Miller
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Mark Lettieri Group
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Maya Delilah
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Olivia Dean
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Orchestra Baobab
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Salif Keita
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Snarky Puppy
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Somi
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Teus Nobel Liberty Group
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                The Staples Jr. Singers
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Tom Jones
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Trondheim Jazz Orchestra &amp; GURLS
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Vloeimans Goudsmit Fraanje &#x27;Fugimundi&#x27;
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Wolfert Brederode, Joost Lijbaart &amp; Matangi String Quartet
                            </li>
                    </ul>
                </div>
            </li>
            <li>
                <div id="program-day-3" class="o-list-transition o-list-transition--in-from-below" data-list-transition="delay-in=0.5s">
                    <ul class="c-lineup__list c-lineup__list--orange" data-lineup-day>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Alessandro Fongaro&#x27;s Pietre
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Artemis
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Benny Sings
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Branford Marsalis Quartet
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Cymande
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Endea Owens &amp; The Cookout
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                EZRA Collective
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Gabriels
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Hermeto Pascoal
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Janelle Monáe
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                John McLaughlin&#x27;s SHAKTI featuring Zakir Hussain and Shankar Mahadevan
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Kandace Springs
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Latanya Alberto
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Laufey
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Lizzo
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Madison McFerrin
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Ndlovu Youth Choir
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                NOHMI
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                &quot;Off-Brand gOdds”: Esperanza spalding &amp; Antonio Brown Dance
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Oded Tzur Quartet
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Paradox Jazz Orchestra ‘Remembering The Skymasters’
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Pat Metheny Side-Eye
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Samara Joy
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Sampa The Great
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Seal
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Son Little
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Stanley Clarke N’4Ever
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                 Sven Hammond Big Band &amp; guests
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Teis Semey Quintet
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Typhoon
                            </li>
                            <li class="c-lineup__act  o-list-transition__item"
                                data-list-transition-item data-lineup-act>
                                Yuri Honing’s Peace Orchestra
                            </li>
                    </ul>
                </div>
            </li>
    </ol>

</div>

                <div class="c-news" data-news>
    <ul class="o-item-box">
            <li class="o-item-box__item" data-news-item>
                <article class="c-news__article">
                        <figure>
                            <div class="c-news__image-wrapper">
                                <img class="c-news__image" src="https://www.northseajazz.com/-/media/northseajazz/rotterdam/content/2023/nsjapp-23.jpg" alt="Image alt text" srcset="
                                https://www.northseajazz.com/-/media/northseajazz/rotterdam/content/2023/nsjapp-23.jpg 350w,
                                https://www.northseajazz.com/-/media/northseajazz/rotterdam/content/2023/nsjapp-23.jpg 700w,
                                https://www.northseajazz.com/-/media/northseajazz/rotterdam/content/2023/nsjapp-23.jpg 1050w,
                                "/>
                            </div>
                        </figure>
                    <h2 class="u-text-xl">NN North Sea Jazz 2023 app</h2>
                    <p class="u-text-s-heavy">Your personal route through the festival</p>
                        <a
                        
                        href="#"
                        
                        class="c-button  c-button--link      u-text-s-heavy c-news__button"
                        
                        
                        
                        
                        >
                        <span class="c-button__inner">
                            <span class="c-button__label  ">
                                Read more
                            </span>
                        
                        
                          </span>
                        </a>
                </article>
            </li>
            <li class="o-item-box__item" data-news-item>
                <article class="c-news__article">
                        <figure>
                            <div class="c-news__image-wrapper">
                                <img class="c-news__image" src="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homepagepanels/nsj-live-on-stage.jpg" alt="Image alt text" srcset="
                                https://www.northseajazz.com/-/media/northseajazz/rotterdam/homepagepanels/nsj-live-on-stage.jpg 350w,
                                https://www.northseajazz.com/-/media/northseajazz/rotterdam/homepagepanels/nsj-live-on-stage.jpg 700w,
                                https://www.northseajazz.com/-/media/northseajazz/rotterdam/homepagepanels/nsj-live-on-stage.jpg 1050w,
                                "/>
                            </div>
                        </figure>
                    <h2 class="u-text-xl">Live on stage soon</h2>
                    <p class="u-text-s-heavy">Check out the concert schedule</p>
                        <a
                        
                        href="#"
                        
                        class="c-button  c-button--link      u-text-s-heavy c-news__button"
                        
                        
                        
                        
                        >
                        <span class="c-button__inner">
                            <span class="c-button__label  ">
                                Read more
                            </span>
                        
                        
                          </span>
                        </a>
                </article>
            </li>
            <li class="o-item-box__item" data-news-item>
                <article class="c-news__article">
                        <figure>
                            <div class="c-news__image-wrapper">
                                <img class="c-news__image" src="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homepagepanels/nsj-spotify.jpg" alt="Image alt text" srcset="
                                https://www.northseajazz.com/-/media/northseajazz/rotterdam/homepagepanels/nsj-spotify.jpg 350w,
                                https://www.northseajazz.com/-/media/northseajazz/rotterdam/homepagepanels/nsj-spotify.jpg 700w,
                                https://www.northseajazz.com/-/media/northseajazz/rotterdam/homepagepanels/nsj-spotify.jpg 1050w,
                                "/>
                            </div>
                        </figure>
                    <h2 class="u-text-xl">A festival vibe throughout the year</h2>
                    <p class="u-text-s-heavy">With the Spotify playlist</p>
                        <a
                        
                        href="#"
                        
                        class="c-button  c-button--link      u-text-s-heavy c-news__button"
                        
                        
                        
                        
                        >
                        <span class="c-button__inner">
                            <span class="c-button__label  ">
                                Read more
                            </span>
                        
                        
                          </span>
                        </a>
                </article>
            </li>
    </ul>
</div>

            </div>
        </div>

</div>

