

<ul class="o-item-box">
        <li class="o-item-box__item" style="height: 200px; background-color: #ffcc88">
            item 1
        </li>
        <li class="o-item-box__item" style="height: 200px; background-color: #ffcc88">
            item 2
        </li>
        <li class="o-item-box__item" style="height: 200px; background-color: #ffcc88">
            item 3
        </li>
        <li class="o-item-box__item" style="height: 200px; background-color: #ffcc88">
            item 4
        </li>
</ul>

