

<!--<div class="o-layer o-layer--base">-->
    <div class="o-retain  o-retain--6">
        <div class="o-text-block rte-text">
            
                     <h2>Drinks</h2>
                    <p>
                        Next to the many regular bars, you’ll find special wine bars, the popular World of Whisky Bar, a stand with
                        special coffees and extraordinary gin and tonics.
                    </p>
                     <h2>Shops</h2>
                    <p>
                        Shopping for records, books, magazines, musical instruments and much more can be done at stands found at
                        different locations. Original festivals items such as T-shirts, bags and posters are for sale at several
                        merchandise stands.
                    </p>
                   
        </div>
    </div>
<!--</div>-->

