

<div class="c-background-video c-background-video--aspect-wide c-background-video--nudge-up c-background-video--large">
        <video
                class="c-background-video__universal"
                muted autoplay playsinline aria-hidden="true" >
            <source src="/video/HEVC/archive_desktop-hevc.mp4" type='video/mp4; codecs="mp4"' />
            <source src="/video/VP9/archive_desktop-vp9.webm" type='video/webm; codecs="vp9"' />
            <source src="/video/HEVC/archive_desktop-hevc.mp4" type='video/mp4; codecs="hvc1"' />
            <source src="/video/H264/archive_desktop-h264.mp4" type="video/mp4" />
    </video>
</div>

