

<!--<div class="o-layer o-layer--base">-->
    <div class="o-retain  o-retain--6">
        <div class="o-text-block rte-text">
            
                    <h2>Central Square</h2>
                    <p>
                        Plenty Vega was inspired by top chef Yotam Ottolenghi. But there’s also fresh sushi, Thai stir-fries, fruits
                        and fruit juices, coffee, pastries, and, for the first time: antipasti, pasta, sliced meats, and cheese
                        boards.
                    </p>
                    <h2>Congo Square</h2>
                    <p>
                        With surprising exotic dishes from the Caribbean, Africa and Surinam. Also: animal-friendly meats on the
                        BBQ, Vietnamese snacks en dishes, organic hamburgers, and Cajun soulfood.
                    </p>
                   
        </div>
    </div>
<!--</div>-->

