

<div class="c-splash-logo" data-splash-logo>
    <div class="c-splash-logo__timer" data-splash-logo-timer>
    </div>
    <div class="c-splash-logo__logo">
        <img src="/img/logo/logo-date_white_nl.svg" width="104" height="50" alt="NN North Sea Jazz">
    </div>
</div>

    <style>
        .example-ui {
            inline-size: 100vw;
            block-size: 100vh;
            display: grid;
            grid-template-rows: fit-content(100%) auto;
        }
        .example-ui__header {
            block-size: 100px;
            padding: 1rem;
            background-color: #6455dd;
        }
        .example-ui__main {
            padding: 1rem;
            background-color: #dd6455;
        }
    </style>
    <div class="example-ui">
        <div class="example-ui__header  c-splash-logo-ui c-splash-logo-ui--fade-in c-splash-logo-ui--in-from-top" data-splash-logo-ui>
            <p class="">header</p>
        </div>
        <div class="example-ui__main  c-splash-logo-ui c-splash-logo-ui--fade-in" data-splash-logo-ui>
            <p>main</p>
        </div>
    </div>

