

<div class="c-news" data-news>
    <ul class="o-item-box">
            <li class="o-item-box__item" data-news-item>
                <article class="c-news__article">
                        <figure>
                            <div class="c-news__image-wrapper">
                                <img class="c-news__image" src="https://www.northseajazz.com/-/media/northseajazz/rotterdam/content/2023/nsjapp-23.jpg" alt="Image alt text" srcset="
                                https://www.northseajazz.com/-/media/northseajazz/rotterdam/content/2023/nsjapp-23.jpg 350w,
                                https://www.northseajazz.com/-/media/northseajazz/rotterdam/content/2023/nsjapp-23.jpg 700w,
                                https://www.northseajazz.com/-/media/northseajazz/rotterdam/content/2023/nsjapp-23.jpg 1050w,
                                "/>
                            </div>
                        </figure>
                    <h2 class="u-text-xl">NN North Sea Jazz 2023 app</h2>
                    <p class="u-text-s-heavy">Your personal route through the festival</p>
                        <a
                        
                        href="#"
                        
                        class="c-button  c-button--link      u-text-s-heavy c-news__button"
                        
                        
                        
                        
                        >
                        <span class="c-button__inner">
                            <span class="c-button__label  ">
                                Read more
                            </span>
                        
                        
                          </span>
                        </a>
                </article>
            </li>
            <li class="o-item-box__item" data-news-item>
                <article class="c-news__article">
                        <figure>
                            <div class="c-news__image-wrapper">
                                <img class="c-news__image" src="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homepagepanels/nsj-live-on-stage.jpg" alt="Image alt text" srcset="
                                https://www.northseajazz.com/-/media/northseajazz/rotterdam/homepagepanels/nsj-live-on-stage.jpg 350w,
                                https://www.northseajazz.com/-/media/northseajazz/rotterdam/homepagepanels/nsj-live-on-stage.jpg 700w,
                                https://www.northseajazz.com/-/media/northseajazz/rotterdam/homepagepanels/nsj-live-on-stage.jpg 1050w,
                                "/>
                            </div>
                        </figure>
                    <h2 class="u-text-xl">Live on stage soon</h2>
                    <p class="u-text-s-heavy">Check out the concert schedule</p>
                        <a
                        
                        href="#"
                        
                        class="c-button  c-button--link      u-text-s-heavy c-news__button"
                        
                        
                        
                        
                        >
                        <span class="c-button__inner">
                            <span class="c-button__label  ">
                                Read more
                            </span>
                        
                        
                          </span>
                        </a>
                </article>
            </li>
            <li class="o-item-box__item" data-news-item>
                <article class="c-news__article">
                        <figure>
                            <div class="c-news__image-wrapper">
                                <img class="c-news__image" src="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homepagepanels/nsj-spotify.jpg" alt="Image alt text" srcset="
                                https://www.northseajazz.com/-/media/northseajazz/rotterdam/homepagepanels/nsj-spotify.jpg 350w,
                                https://www.northseajazz.com/-/media/northseajazz/rotterdam/homepagepanels/nsj-spotify.jpg 700w,
                                https://www.northseajazz.com/-/media/northseajazz/rotterdam/homepagepanels/nsj-spotify.jpg 1050w,
                                "/>
                            </div>
                        </figure>
                    <h2 class="u-text-xl">A festival vibe throughout the year</h2>
                    <p class="u-text-s-heavy">With the Spotify playlist</p>
                        <a
                        
                        href="#"
                        
                        class="c-button  c-button--link      u-text-s-heavy c-news__button"
                        
                        
                        
                        
                        >
                        <span class="c-button__inner">
                            <span class="c-button__label  ">
                                Read more
                            </span>
                        
                        
                          </span>
                        </a>
                </article>
            </li>
    </ul>
</div>

