

<div class="c-news" data-news>
    <ul class="o-item-box">
            <li class="o-item-box__item" data-news-item>
                <article class="c-news__article">
                        <figure>
                            <div class="c-news__image-wrapper">
                                <img class="c-news__image" src="https://picsum.photos/seed/jazzism/350/232" alt="Image alt text" srcset="
                                https://picsum.photos/seed/jazzism/350/232 350w,
                                https://picsum.photos/seed/jazzism/700/464 700w,
                                https://picsum.photos/seed/jazzism/1050/696 1050w,
                                "/>
                            </div>
                        </figure>
                    <h2 class="u-text-xl">Blijf op de hoogte met Jazzism</h2>
                    <p class="u-text-s-heavy">Profiteer van de speciale festivalaanbieding</p>
                        <a
                        
                        href="#"
                        
                        class="c-button  c-button--link      u-text-s-heavy c-news__button"
                        
                        
                        
                        
                        >
                        <span class="c-button__inner">
                            <span class="c-button__label  ">
                                Read more
                            </span>
                        
                        
                          </span>
                        </a>
                </article>
            </li>
            <li class="o-item-box__item" data-news-item>
                <article class="c-news__article">
                        <figure>
                            <div class="c-news__image-wrapper">
                                <img class="c-news__image" src="https://picsum.photos/seed/ears/350/232" alt="Image alt text" srcset="
                                https://picsum.photos/seed/ears/350/232 350w,
                                https://picsum.photos/seed/ears/700/464 700w,
                                https://picsum.photos/seed/ears/1050/696 1050w,
                                "/>
                            </div>
                        </figure>
                    <h2 class="u-text-xl">I love my ears</h2>
                    <p class="u-text-s-heavy">Take good care of your ears</p>
                        <a
                        
                        href="#"
                        
                        class="c-button  c-button--link      u-text-s-heavy c-news__button"
                        
                        
                        
                        
                        >
                        <span class="c-button__inner">
                            <span class="c-button__label  ">
                                Read more
                            </span>
                        
                        
                          </span>
                        </a>
                </article>
            </li>
            <li class="o-item-box__item" data-news-item>
                <article class="c-news__article">
                        <figure>
                            <div class="c-news__image-wrapper">
                                <img class="c-news__image" src="https://picsum.photos/seed/vibe/350/232" alt="Image alt text" srcset="
                                https://picsum.photos/seed/vibe/350/232 350w,
                                https://picsum.photos/seed/vibe/700/464 700w,
                                https://picsum.photos/seed/vibe/1050/696 1050w,
                                "/>
                            </div>
                        </figure>
                    <h2 class="u-text-xl">A festival vibe throughout the year</h2>
                    <p class="u-text-s-heavy">With the Spotify playlist</p>
                        <a
                        
                        href="#"
                        
                        class="c-button  c-button--link      u-text-s-heavy c-news__button"
                        
                        
                        
                        
                        >
                        <span class="c-button__inner">
                            <span class="c-button__label  ">
                                Read more
                            </span>
                        
                        
                          </span>
                        </a>
                </article>
            </li>
            <li class="o-item-box__item" data-news-item>
                <article class="c-news__article">
                        <figure>
                            <div class="c-news__image-wrapper">
                                <img class="c-news__image" src="https://picsum.photos/seed/curacao/350/232" alt="Image alt text" srcset="
                                https://picsum.photos/seed/curacao/350/232 350w,
                                https://picsum.photos/seed/curacao/700/464 700w,
                                https://picsum.photos/seed/curacao/1050/696 1050w,
                                "/>
                            </div>
                        </figure>
                    <h2 class="u-text-xl">Curacao North Sea Jazz Festival</h2>
                    <p class="u-text-s-heavy">29, 30, 31 aug 2019</p>
                        <a
                        
                        href="#"
                        
                        class="c-button  c-button--link      u-text-s-heavy c-news__button"
                        
                        
                        
                        
                        >
                        <span class="c-button__inner">
                            <span class="c-button__label  ">
                                Read more
                            </span>
                        
                        
                          </span>
                        </a>
                </article>
            </li>
    </ul>
</div>

