

<div class="c-highlights" data-highlights data-caption-switcher>
    <div class="c-highlights__navigation">
        <button class="c-highlights__button-prev" data-highlights-button-prev></button>
        <div class="c-highlights__void-between-buttons"></div>
        <button class="c-highlights__button-next" data-highlights-button-next></button>
    </div>
    <div class="c-highlights__carousel-container">
        <div class="c-highlights__carousel-gradient c-highlights__carousel-gradient--vertical"></div>
        <div class="c-highlights__carousel-gradient c-highlights__carousel-gradient--horizontal"></div>
        <div class="swiper" data-highlights-swiper>
            <div class="swiper-wrapper">
                    <a class="swiper-slide" href="" target="_self">
                        <div class="c-highlights__slide" data-caption-switcher-select="highlight-1">
                            <img class="c-highlights__image" src="https://www.northseajazz.com/-/media/northseajazz/rotterdam/shows/2023/yannick-hiwat.jpg" alt="" aria-labelledby="#highlight-1">
                        </div>
                    </a>
                    <a class="swiper-slide" href="" target="_self">
                        <div class="c-highlights__slide" data-caption-switcher-select="highlight-2">
                            <img class="c-highlights__image" src="https://www.northseajazz.com/-/media/northseajazz/rotterdam/highlighted-content/esperanza-spalding.jpg" alt="" aria-labelledby="#highlight-2">
                        </div>
                    </a>
                    <a class="swiper-slide" href="" target="_self">
                        <div class="c-highlights__slide" data-caption-switcher-select="highlight-4">
                            <img class="c-highlights__image" src="https://www.northseajazz.com/-/media/northseajazz/rotterdam/content/2023/eve-risser.jpg" alt="" aria-labelledby="#highlight-4">
                        </div>
                    </a>
                    <a class="swiper-slide" href="" target="_self">
                        <div class="c-highlights__slide" data-caption-switcher-select="highlight-3">
                            <img class="c-highlights__image" src="https://picsum.photos/600/400" alt="" aria-labelledby="#highlight-3">
                        </div>
                    </a>
                    <a class="swiper-slide" href="" target="_self">
                        <div class="c-highlights__slide" data-caption-switcher-select="highlight-5">
                            <img class="c-highlights__image" src="https://picsum.photos/500" alt="" aria-labelledby="#highlight-5">
                        </div>
                    </a>
                    <a class="swiper-slide" href="" target="_self">
                        <div class="c-highlights__slide" data-caption-switcher-select="highlight-6">
                            <img class="c-highlights__image" src="https://picsum.photos/600/400" alt="" aria-labelledby="#highlight-6">
                        </div>
                    </a>
            </div>
        </div>
    </div>

    <div class="c-highlights__overlay-wrapper">
        <div class="o-retain o-retain--8">
            <div class="c-highlights__overlay">

                <div class="c-highlights__icon-prev">
                    <img src="/img/carousel-arrow.svg" alt="">
                </div>
                <ul class="c-highlights__captions">

                        <li>
                            <div id="highlight-1"
                                 class="o-list-transition o-list-transition--in-from-below"
                                 data-list-transition="delay-in=0.5s"
                                 data-caption-switcher-target="highlight-1">

                                <div class="c-highlights__caption">
                                    <div class="o-list-transition__item" data-list-transition-item>
                                        <p class="u-text-h5">
                                            Composition Project 2023
                                        </p>
                                    </div>
                                    <div class="o-list-transition__item" data-list-transition-item>
                                        <p class="u-text-h3">Yannick Hiwat: respect for predecessors</p>
                                    </div>
                                    <div class="o-list-transition__item" data-list-transition-item>
                                                <a
                                                
                                                href="#"
                                                
                                                class="c-button        u-text-s-heavy"
                                                
                                                
                                                
                                                
                                                >
                                                <span class="c-button__inner">
                                                    <span class="c-button__label  ">
                                                        Read More
                                                    </span>
                                                
                                                
                                                  </span>
                                                </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="highlight-2"
                                 class="o-list-transition o-list-transition--in-from-below"
                                 data-list-transition="delay-in=0.5s"
                                 data-caption-switcher-target="highlight-2">

                                <div class="c-highlights__caption">
                                    <div class="o-list-transition__item" data-list-transition-item>
                                        <p class="u-text-h5">
                                            Artist in Residence 2023
                                        </p>
                                    </div>
                                    <div class="o-list-transition__item" data-list-transition-item>
                                        <p class="u-text-h3">esperanza spalding</p>
                                    </div>
                                    <div class="o-list-transition__item" data-list-transition-item>
                                                <button
                                                
                                                
                                                
                                                class="c-button        u-text-s-heavy"
                                                
                                                
                                                
                                                
                                                >
                                                <span class="c-button__inner">
                                                    <span class="c-button__label  ">
                                                        Read More
                                                    </span>
                                                
                                                
                                                  </span>
                                                </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="highlight-4"
                                 class="o-list-transition o-list-transition--in-from-below"
                                 data-list-transition="delay-in=0.5s"
                                 data-caption-switcher-target="highlight-4">

                                <div class="c-highlights__caption">
                                    <div class="o-list-transition__item" data-list-transition-item>
                                        <p class="u-text-h5">
                                            Paul Acket Award 2023
                                        </p>
                                    </div>
                                    <div class="o-list-transition__item" data-list-transition-item>
                                        <p class="u-text-h3">Eve Risser: inspired by nature</p>
                                    </div>
                                    <div class="o-list-transition__item" data-list-transition-item>
                                                <button
                                                
                                                
                                                
                                                class="c-button        u-text-s-heavy"
                                                
                                                
                                                
                                                
                                                >
                                                <span class="c-button__inner">
                                                    <span class="c-button__label  ">
                                                        Read More
                                                    </span>
                                                
                                                
                                                  </span>
                                                </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="highlight-3"
                                 class="o-list-transition o-list-transition--in-from-below"
                                 data-list-transition="delay-in=0.5s"
                                 data-caption-switcher-target="highlight-3">

                                <div class="c-highlights__caption">
                                    <div class="o-list-transition__item" data-list-transition-item>
                                        <p class="u-text-h5">
                                            Terugblik
                                        </p>
                                    </div>
                                    <div class="o-list-transition__item" data-list-transition-item>
                                        <p class="u-text-h3">Beleef het festival opnieuw met deze terugblik op 2022</p>
                                    </div>
                                    <div class="o-list-transition__item" data-list-transition-item>
                                                <button
                                                
                                                
                                                
                                                class="c-button        u-text-s-heavy"
                                                
                                                
                                                
                                                
                                                >
                                                <span class="c-button__inner">
                                                    <span class="c-button__label  ">
                                                        Read More
                                                    </span>
                                                
                                                
                                                  </span>
                                                </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="highlight-5"
                                 class="o-list-transition o-list-transition--in-from-below"
                                 data-list-transition="delay-in=0.5s"
                                 data-caption-switcher-target="highlight-5">

                                <div class="c-highlights__caption">
                                    <div class="o-list-transition__item" data-list-transition-item>
                                        <p class="u-text-h5">
                                            Artist in Residence 2023
                                        </p>
                                    </div>
                                    <div class="o-list-transition__item" data-list-transition-item>
                                        <p class="u-text-h3">esperanza spalding</p>
                                    </div>
                                    <div class="o-list-transition__item" data-list-transition-item>
                                                <button
                                                
                                                
                                                
                                                class="c-button        u-text-s-heavy"
                                                
                                                
                                                
                                                
                                                >
                                                <span class="c-button__inner">
                                                    <span class="c-button__label  ">
                                                        Read More
                                                    </span>
                                                
                                                
                                                  </span>
                                                </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="highlight-6"
                                 class="o-list-transition o-list-transition--in-from-below"
                                 data-list-transition="delay-in=0.5s"
                                 data-caption-switcher-target="highlight-6">

                                <div class="c-highlights__caption">
                                    <div class="o-list-transition__item" data-list-transition-item>
                                        <p class="u-text-h5">
                                            Terugblik
                                        </p>
                                    </div>
                                    <div class="o-list-transition__item" data-list-transition-item>
                                        <p class="u-text-h3">Beleef het festival opnieuw met deze terugblik op 2022</p>
                                    </div>
                                    <div class="o-list-transition__item" data-list-transition-item>
                                                <button
                                                
                                                
                                                
                                                class="c-button        u-text-s-heavy"
                                                
                                                
                                                
                                                
                                                >
                                                <span class="c-button__inner">
                                                    <span class="c-button__label  ">
                                                        Read More
                                                    </span>
                                                
                                                
                                                  </span>
                                                </button>
                                    </div>
                                </div>
                            </div>
                        </li>

                </ul>
                <div class="c-highlights__icon-next">
                    <img src="/img/carousel-arrow.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


