

<div class="c-footer">
    <ul class="c-footer__socials  o-list-clean">
            <li>
                <a

href="#"
target="_blank"
class="c-button  c-button--icon-link     c-button--hide-label "




>
<span class="c-button__inner">
    <span class="c-button__label  u-visually-hidden">
        facebook icon
    </span>

        <span class="c-button__wrap-icon">
            <img src="/img/icons/facebook.svg" alt=" icon">
        </span>

  </span>
</a>

            </li>
            <li>
                <a

href="#"
target="_blank"
class="c-button  c-button--icon-link     c-button--hide-label "




>
<span class="c-button__inner">
    <span class="c-button__label  u-visually-hidden">
        twitter icon
    </span>

        <span class="c-button__wrap-icon">
            <img src="/img/icons/twitter.svg" alt=" icon">
        </span>

  </span>
</a>

            </li>
            <li>
                <a

href="#"
target="_blank"
class="c-button  c-button--icon-link     c-button--hide-label "




>
<span class="c-button__inner">
    <span class="c-button__label  u-visually-hidden">
        instagram icon
    </span>

        <span class="c-button__wrap-icon">
            <img src="/img/icons/instagram.svg" alt=" icon">
        </span>

  </span>
</a>

            </li>
            <li>
                <a

href="#"
target="_blank"
class="c-button  c-button--icon-link     c-button--hide-label "




>
<span class="c-button__inner">
    <span class="c-button__label  u-visually-hidden">
        youtube icon
    </span>

        <span class="c-button__wrap-icon">
            <img src="/img/icons/youtube.svg" alt=" icon">
        </span>

  </span>
</a>

            </li>
            <li>
                <a

href="#"
target="_blank"
class="c-button  c-button--icon-link     c-button--hide-label "




>
<span class="c-button__inner">
    <span class="c-button__label  u-visually-hidden">
        spotify icon
    </span>

        <span class="c-button__wrap-icon">
            <img src="/img/icons/spotify.svg" alt=" icon">
        </span>

  </span>
</a>

            </li>
    </ul>
    <div class="c-footer__links-container">
        <ul class="c-footer__links  o-list-clean">
                <li>
                    <a
                    
                    href="#"
                    
                    class="c-button  c-button--nav-link      u-text-xl"
                    
                    
                    
                    
                    >
                    <span class="c-button__inner">
                        <span class="c-button__label  ">
                            Home
                        </span>
                    
                    
                      </span>
                    </a>
                </li>
                <li>
                    <a
                    
                    href="#"
                    
                    class="c-button  c-button--nav-link      u-text-xl"
                    
                    
                    
                    
                    >
                    <span class="c-button__inner">
                        <span class="c-button__label  ">
                            Programma
                        </span>
                    
                    
                      </span>
                    </a>
                </li>
                <li>
                    <a
                    
                    href="#"
                    
                    class="c-button  c-button--nav-link      u-text-xl"
                    
                    
                    
                    
                    >
                    <span class="c-button__inner">
                        <span class="c-button__label  ">
                            Programma archief
                        </span>
                    
                    
                      </span>
                    </a>
                </li>
                <li>
                    <a
                    
                    href="#"
                    
                    class="c-button  c-button--nav-link      u-text-xl"
                    
                    
                    
                    
                    >
                    <span class="c-button__inner">
                        <span class="c-button__label  ">
                            Nieuws
                        </span>
                    
                    
                      </span>
                    </a>
                </li>
                <li>
                    <a
                    
                    href="#"
                    
                    class="c-button  c-button--nav-link      u-text-xl"
                    
                    
                    
                    
                    >
                    <span class="c-button__inner">
                        <span class="c-button__label  ">
                            Video-terugblik 2019
                        </span>
                    
                    
                      </span>
                    </a>
                </li>
                <li>
                    <a
                    
                    href="#"
                    
                    class="c-button  c-button--nav-link      u-text-xl"
                    
                    
                    
                    
                    >
                    <span class="c-button__inner">
                        <span class="c-button__label  ">
                            NSJ19 in 50 stories
                        </span>
                    
                    
                      </span>
                    </a>
                </li>
                <li>
                    <a
                    
                    href="#"
                    
                    class="c-button  c-button--nav-link      u-text-xl"
                    
                    
                    
                    
                    >
                    <span class="c-button__inner">
                        <span class="c-button__label  ">
                            Tickets
                        </span>
                    
                    
                      </span>
                    </a>
                </li>
                <li>
                    <a
                    
                    href="#"
                    
                    class="c-button  c-button--nav-link      u-text-xl"
                    
                    
                    
                    
                    >
                    <span class="c-button__inner">
                        <span class="c-button__label  ">
                            Hotels
                        </span>
                    
                    
                      </span>
                    </a>
                </li>
                <li>
                    <a
                    
                    href="#"
                    
                    class="c-button  c-button--nav-link      u-text-xl"
                    
                    
                    
                    
                    >
                    <span class="c-button__inner">
                        <span class="c-button__label  ">
                            Partners
                        </span>
                    
                    
                      </span>
                    </a>
                </li>
                <li>
                    <a
                    
                    href="#"
                    
                    class="c-button  c-button--nav-link      u-text-xl"
                    
                    
                    
                    
                    >
                    <span class="c-button__inner">
                        <span class="c-button__label  ">
                            Projects
                        </span>
                    
                    
                      </span>
                    </a>
                </li>
                <li>
                    <a
                    
                    href="#"
                    
                    class="c-button  c-button--nav-link      u-text-xl"
                    
                    
                    
                    
                    >
                    <span class="c-button__inner">
                        <span class="c-button__label  ">
                            Over North Sea Jazz
                        </span>
                    
                    
                      </span>
                    </a>
                </li>
                <li>
                    <a
                    
                    href="#"
                    
                    class="c-button  c-button--nav-link      u-text-xl"
                    
                    
                    
                    
                    >
                    <span class="c-button__inner">
                        <span class="c-button__label  ">
                            Concertagenda
                        </span>
                    
                    
                      </span>
                    </a>
                </li>
                <li>
                    <a
                    
                    href="#"
                    
                    class="c-button  c-button--nav-link      u-text-xl"
                    
                    
                    
                    
                    >
                    <span class="c-button__inner">
                        <span class="c-button__label  ">
                            Huisregels
                        </span>
                    
                    
                      </span>
                    </a>
                </li>
                <li>
                    <a
                    
                    href="#"
                    
                    class="c-button  c-button--nav-link      u-text-xl"
                    
                    
                    
                    
                    >
                    <span class="c-button__inner">
                        <span class="c-button__label  ">
                            Privacy statement
                        </span>
                    
                    
                      </span>
                    </a>
                </li>
                <li>
                    <a
                    
                    href="#"
                    
                    class="c-button  c-button--nav-link      u-text-xl"
                    
                    
                    
                    
                    >
                    <span class="c-button__inner">
                        <span class="c-button__label  ">
                            Cookie policy
                        </span>
                    
                    
                      </span>
                    </a>
                </li>
                <li>
                    <a
                    
                    href="#"
                    
                    class="c-button  c-button--nav-link      u-text-xl"
                    
                    
                    
                    
                    >
                    <span class="c-button__inner">
                        <span class="c-button__label  ">
                            Cookie&shy;toestemming
                        </span>
                    
                    
                      </span>
                    </a>
                </li>
                <li>
                    <a
                    
                    href="#"
                    
                    class="c-button  c-button--nav-link      u-text-xl"
                    
                    
                    
                    
                    >
                    <span class="c-button__inner">
                        <span class="c-button__label  ">
                            Weet waar je koopt
                        </span>
                    
                    
                      </span>
                    </a>
                </li>
                <li>
                    <a
                    
                    href="#"
                    
                    class="c-button  c-button--nav-link      u-text-xl"
                    
                    
                    
                    
                    >
                    <span class="c-button__inner">
                        <span class="c-button__label  ">
                            Contact
                        </span>
                    
                    
                      </span>
                    </a>
                </li>
        </ul>
    </div>

</div>


