

<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/rotterdam.css">
    <title>NSJ Styleguide</title>
</head>
<body>

<ul class="o-item-box">
        <li class="o-item-box__item" style="height: 200px; background-color: #ffcc88">
            item 1
        </li>
        <li class="o-item-box__item" style="height: 200px; background-color: #ffcc88">
            item 2
        </li>
        <li class="o-item-box__item" style="height: 200px; background-color: #ffcc88">
            item 3
        </li>
</ul>


<script type="module" src="/assets/bundle.js"></script>

</body>
</html>

