

<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/rotterdam.css">
    <title>NSJ Styleguide</title>
</head>
<body>

<!--<div class="o-layer o-layer--base">-->
    <div class="o-retain  o-retain--6">
        <div class="o-text-block rte-text">
            
                    <h2>Mississippi Square</h2>
                    <p>
                        Here, you’ll find <a href="#">oysters</a>, satay, fried fish, Indian curries, falafel, crepes, among others.
                    </p>
                    
                    <h2>Hudson Square</h2>
                    <p>
                        Right from the start in 2018 the new square with lots of seating has proven itself. Hudson Square has French
                        fries, the Bourgondier with croquettes, and the hamburger truck has expanded even more with a larger
                        assortment. Also present is a truck with Vietnamese specials where you can buy Peking duck and a truck with
                        fish soup and poké bowls.
                    </p>
                   
        </div>
    </div>
<!--</div>-->


<script type="module" src="/assets/bundle.js"></script>

</body>
</html>

