

<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/rotterdam.css">
    <title>NSJ Styleguide</title>
</head>
<body>

<a

href="#"

class="c-button  c-button--link      "




>
<span class="c-button__inner">
    <span class="c-button__label  ">
        Link
    </span>


  </span>
</a>


<script type="module" src="/assets/bundle.js"></script>

</body>
</html>

