

<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/rotterdam.css">
    <title>NSJ Styleguide</title>
</head>
<body>

<div class="o-retain  o-retain--6">
    <div class="o-image-container o-image-container--heading">
        <img src="https://r.nsj.waydev/-/media/northseajazz/rotterdam/mediabar/stroken/nsj-ro-vervoer-2017-2560px.jpg" alt="North Sea Jazz festival"/>
        <h1 class="u-text-h2-title u-text-center">Eat, drink &amp; shop</h1>
    </div>
</div>

<div class="o-retain  o-retain--10">
    <div class="o-intro-text ">
        <div class="o-intro-text__content">
                        <div class="o-intro-text__content__paragraph">
                <div class="o-retain  o-retain--6  u-text-m-heavy">
                    Apart from world class music, North Sea Jazz also offers quality in food and drinks. At the varied squares you’ll find numerous food and beverage stands at which you can enjoy good food and drinks. Here’s a small selection to make your mouth water!
                </div>
            </div>
        </div>
    </div>
</div>


<script type="module" src="/assets/bundle.js"></script>

</body>
</html>

