

<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/rotterdam.css">
    <title>NSJ Styleguide</title>
</head>
<body>

<div class="c-background-video">
        <video
                class="c-background-video__universal"
                muted autoplay playsinline aria-hidden="true" loop>
            <source src="/video/HEVC/rotterdam_pink_desktop-hevc.mp4" type='video/mp4; codecs="mp4"' />
            <source src="/video/VP9/rotterdam_pink_desktop-vp9.webm" type='video/webm; codecs="vp9"' />
            <source src="/video/HEVC/rotterdam_pink_desktop-hevc.mp4" type='video/mp4; codecs="hvc1"' />
            <source src="/video/H264/rotterdam_pink_desktop-h264.mp4" type="video/mp4" />
    </video>
</div>


<script type="module" src="/assets/bundle.js"></script>

</body>
</html>

