

<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/rotterdam.css">
    <title>NSJ Styleguide</title>
</head>
<body>

<button
type="button"


class="c-button    c-button--active c-button--pink   "




>
<span class="c-button__inner">
    <span class="c-button__label  ">
        Pink Active
    </span>


  </span>
</button>


<script type="module" src="/assets/bundle.js"></script>

</body>
</html>

