

<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/rotterdam.css">
    <title>NSJ Styleguide</title>
</head>
<body>

<div class="o-retain  o-retain--10">
    <div class="o-intro-text">
        <div class="o-intro-text__content">
            <h1 class="u-text-h2-title u-text-center">North Sea Jazz<br/>program archive</h1>
            <div class="o-intro-text__content__paragraph">
                <div class="o-retain  o-retain--6  u-text-m-heavy">
                    North Sea Jazz will celebrate its 46th edition in 2023. All previous line ups are available to browse. Just pick a year a step back in time.
                </div>
            </div>
        </div>
    </div>
</div>


<script type="module" src="/assets/bundle.js"></script>

</body>
</html>

