

<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/rotterdam.css">
    <title>NSJ Styleguide</title>
</head>
<body>

<main>

    <section class="o-layer o-layer--base">
        <div class="o-retain o-retain--base" style="height: 33vh; display: flex; align-items: center; justify-content: center;">
            <div class="c-projects canvas-wrapper">
                <h2 style="margin-bottom: 2rem;" class="h1 text-uppercase">North sea jazz&nbsp;projects</h2>
            </div>
        </div>
    </section>

    <section class="o-layer o-layer--base">
        <div class="o-retain o-retain--base" style="height: 33vh; display: flex; align-items: center; justify-content: center;">
            <div class="c-projects canvas-wrapper">
                <h2 style="margin-bottom: 2rem;" class="h1 text-uppercase">Super long title to test if it works too</h2>
            </div>
        </div>
    </section>

    <section class="o-layer o-layer--base">
        <div class="o-retain o-retain--base" style="height: 33vh; display: flex; align-items: center; justify-content: center;">
            <div class="c-projects canvas-wrapper">
                <h2 style="margin-bottom: 2rem;" class="h1 text-uppercase">Short</h2>
            </div>
        </div>
    </section>

</main>
<p style="display:none;" id="p5_loading"></p>


<script type="module" src="/assets/bundle.js"></script>

</body>
</html>

