

<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/rotterdam.css">
    <title>NSJ Styleguide</title>
</head>
<body>

<div data-accordion>

    <ul class="o-list-clean">

            <li>
                <div data-accordion-group>
                    <button class="c-button" data-accordion-group-toggle-button>toggle group</button>
                    <div class="o-list-transition o-list-transition--slow" data-list-transition>
                        <div class="o-list-transition__container o-list-transition__container--collapsed" data-list-transition-container>
                            <ul>

                                    <li class="o-list-transition__item" data-list-transition-item>
                                        item 1
                                    </li>
                                    <li class="o-list-transition__item" data-list-transition-item>
                                        item 2
                                    </li>
                                    <li class="o-list-transition__item" data-list-transition-item>
                                        item 3
                                    </li>
                                    <li class="o-list-transition__item" data-list-transition-item>
                                        item 4
                                    </li>
                                    <li class="o-list-transition__item" data-list-transition-item>
                                        item 5
                                    </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div data-accordion-group>
                    <button class="c-button" data-accordion-group-toggle-button>toggle group</button>
                    <div class="o-list-transition o-list-transition--slow o-list-transition--in" data-list-transition>
                        <div class="o-list-transition__container " data-list-transition-container>
                            <ul>

                                    <li class="o-list-transition__item" data-list-transition-item>
                                        item 1
                                    </li>
                                    <li class="o-list-transition__item" data-list-transition-item>
                                        item 2
                                    </li>
                                    <li class="o-list-transition__item" data-list-transition-item>
                                        item 3
                                    </li>
                                    <li class="o-list-transition__item" data-list-transition-item>
                                        item 4
                                    </li>
                                    <li class="o-list-transition__item" data-list-transition-item>
                                        item 5
                                    </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div data-accordion-group>
                    <button class="c-button" data-accordion-group-toggle-button>toggle group</button>
                    <div class="o-list-transition o-list-transition--slow" data-list-transition>
                        <div class="o-list-transition__container o-list-transition__container--collapsed" data-list-transition-container>
                            <ul>

                                    <li class="o-list-transition__item" data-list-transition-item>
                                        item 1
                                    </li>
                                    <li class="o-list-transition__item" data-list-transition-item>
                                        item 2
                                    </li>
                                    <li class="o-list-transition__item" data-list-transition-item>
                                        item 3
                                    </li>
                                    <li class="o-list-transition__item" data-list-transition-item>
                                        item 4
                                    </li>
                                    <li class="o-list-transition__item" data-list-transition-item>
                                        item 5
                                    </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div data-accordion-group>
                    <button class="c-button" data-accordion-group-toggle-button>toggle group</button>
                    <div class="o-list-transition o-list-transition--slow" data-list-transition>
                        <div class="o-list-transition__container o-list-transition__container--collapsed" data-list-transition-container>
                            <ul>

                                    <li class="o-list-transition__item" data-list-transition-item>
                                        item 1
                                    </li>
                                    <li class="o-list-transition__item" data-list-transition-item>
                                        item 2
                                    </li>
                                    <li class="o-list-transition__item" data-list-transition-item>
                                        item 3
                                    </li>
                                    <li class="o-list-transition__item" data-list-transition-item>
                                        item 4
                                    </li>
                                    <li class="o-list-transition__item" data-list-transition-item>
                                        item 5
                                    </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </li>

    </ul>

</div>


<script type="module" src="/assets/bundle.js"></script>

</body>
</html>

