

<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/rotterdam.css">
    <title>NSJ Styleguide</title>
</head>
<body>

<div class="c-hero">
    <div class="o-retain o-retain--8 o-retain--dynamic-column-width">
        <div class="c-hero__carousel-container">
            <div class="c-carousel swiper" data-hero-swiper>
                <ul class="c-carousel__slides swiper-wrapper">
                        <li class="c-carousel__item swiper-slide" data-caption-slide="id001">
                            <figure class="c-hero__figure" aria-labelledby="#id001">
                                <picture>
                                    <source media="(max-width: 465px)" srcset="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homeslide/landscape/2023/little-simz.jpg" />
                                    <source media="(min-width: 465px)" srcset="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homeslide/landscape/2023/little-simz.jpg" />
                                    <img width="2560" height="1440" class="c-hero__image" src="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homeslide/landscape/2023/little-simz.jpg" alt="" />
                                </picture>
                            </figure>
                            <div class="c-carousel__item-gradient c-carousel__item-gradient--vertical"></div>
                        </li>
                        <li class="c-carousel__item swiper-slide" data-caption-slide="id007">
                            <figure class="c-hero__figure" aria-labelledby="#id007">
                                <picture>
                                    <source media="(max-width: 465px)" srcset="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homeslide/landscape/2023/kurt-elling-charlie-hunter.jpg" />
                                    <source media="(min-width: 465px)" srcset="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homeslide/landscape/2023/kurt-elling-charlie-hunter.jpg" />
                                    <img width="2560" height="1440" class="c-hero__image" src="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homeslide/landscape/2023/kurt-elling-charlie-hunter.jpg" alt="" />
                                </picture>
                            </figure>
                            <div class="c-carousel__item-gradient c-carousel__item-gradient--vertical"></div>
                        </li>
                        <li class="c-carousel__item swiper-slide" data-caption-slide="id002">
                            <figure class="c-hero__figure" aria-labelledby="#id002">
                                <picture>
                                    <source media="(max-width: 465px)" srcset="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homeslide/landscape/2023/roisin-murphy.jpg" />
                                    <source media="(min-width: 465px)" srcset="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homeslide/landscape/2023/roisin-murphy.jpg" />
                                    <img width="2560" height="1440" class="c-hero__image" src="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homeslide/landscape/2023/roisin-murphy.jpg" alt="" />
                                </picture>
                            </figure>
                            <div class="c-carousel__item-gradient c-carousel__item-gradient--vertical"></div>
                        </li>
                        <li class="c-carousel__item swiper-slide" data-caption-slide="id003">
                            <figure class="c-hero__figure" aria-labelledby="#id003">
                                <picture>
                                    <source media="(max-width: 465px)" srcset="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homeslide/landscape/2023/gregory-porter.jpg" />
                                    <source media="(min-width: 465px)" srcset="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homeslide/landscape/2023/gregory-porter.jpg" />
                                    <img width="2560" height="1440" class="c-hero__image" src="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homeslide/landscape/2023/gregory-porter.jpg" alt="" />
                                </picture>
                            </figure>
                            <div class="c-carousel__item-gradient c-carousel__item-gradient--vertical"></div>
                        </li>
                        <li class="c-carousel__item swiper-slide" data-caption-slide="id004">
                            <figure class="c-hero__figure" aria-labelledby="#id004">
                                <picture>
                                    <source media="(max-width: 465px)" srcset="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homeslide/landscape/2023/ben-l-oncle-soul.jpg" />
                                    <source media="(min-width: 465px)" srcset="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homeslide/landscape/2023/ben-l-oncle-soul.jpg" />
                                    <img width="2560" height="1440" class="c-hero__image" src="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homeslide/landscape/2023/ben-l-oncle-soul.jpg" alt="" />
                                </picture>
                            </figure>
                            <div class="c-carousel__item-gradient c-carousel__item-gradient--vertical"></div>
                        </li>
                        <li class="c-carousel__item swiper-slide" data-caption-slide="id005">
                            <figure class="c-hero__figure" aria-labelledby="#id005">
                                <picture>
                                    <source media="(max-width: 465px)" srcset="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homeslide/landscape/2023/adi-oasis.jpg" />
                                    <source media="(min-width: 465px)" srcset="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homeslide/landscape/2023/adi-oasis.jpg" />
                                    <img width="2560" height="1440" class="c-hero__image" src="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homeslide/landscape/2023/adi-oasis.jpg" alt="" />
                                </picture>
                            </figure>
                            <div class="c-carousel__item-gradient c-carousel__item-gradient--vertical"></div>
                        </li>
                        <li class="c-carousel__item swiper-slide" data-caption-slide="id006">
                            <figure class="c-hero__figure" aria-labelledby="#id006">
                                <picture>
                                    <source media="(max-width: 465px)" srcset="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homeslide/landscape/2023/endea-owens.jpg" />
                                    <source media="(min-width: 465px)" srcset="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homeslide/landscape/2023/endea-owens.jpg" />
                                    <img width="2560" height="1440" class="c-hero__image" src="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homeslide/landscape/2023/endea-owens.jpg" alt="" />
                                </picture>
                            </figure>
                            <div class="c-carousel__item-gradient c-carousel__item-gradient--vertical"></div>
                        </li>
                </ul>
            </div>
            <div class="c-hero__caption-container">
                <ul class="c-hero__caption-list">
                        <li id="id001" data-caption-box="id001">
                            <div class="c-hero__caption c-hero__caption--current">
                                <p class="u-text-h5">Friday 7 July</p>
                                <p class="u-text-h1 u-text-center">Little Simz</p>
                                <a class="c-button  u-text-s-heavy">Go to the program</a>
                            </div>
                        </li>
                        <li id="id007" data-caption-box="id007">
                            <div class="c-hero__caption">
                                <p class="u-text-h5">Friday 7 July</p>
                                <p class="u-text-h2 u-text-center">Kurt Elling &amp; Charlie Hunter</p>
                                <a class="c-button  u-text-s-heavy">Go to the program</a>
                            </div>
                        </li>
                        <li id="id002" data-caption-box="id002">
                            <div class="c-hero__caption">
                                <p class="u-text-h5">Saturday 8 July</p>
                                <p class="u-text-h1 u-text-center">Róisín Murphy</p>
                                <a class="c-button  u-text-s-heavy">Go to the program</a>
                            </div>
                        </li>
                        <li id="id003" data-caption-box="id003">
                            <div class="c-hero__caption">
                                <p class="u-text-h5">Sunday 9 July</p>
                                <p class="u-text-h1 u-text-center">Gregory Porter</p>
                                <a class="c-button  u-text-s-heavy">Go to the program</a>
                            </div>
                        </li>
                        <li id="id004" data-caption-box="id004">
                            <div class="c-hero__caption">
                                <p class="u-text-h5">Friday 7 July</p>
                                <p class="u-text-h1 u-text-center">Ben L&#x27;Oncle Soul</p>
                                <a class="c-button  u-text-s-heavy">Go to the program</a>
                            </div>
                        </li>
                        <li id="id005" data-caption-box="id005">
                            <div class="c-hero__caption">
                                <p class="u-text-h5">Saturday 8 July</p>
                                <p class="u-text-h1 u-text-center">Adi Oasis</p>
                                <a class="c-button  u-text-s-heavy">Go to the program</a>
                            </div>
                        </li>
                        <li id="id006" data-caption-box="id006">
                            <div class="c-hero__caption">
                                <p class="u-text-h5">Sunday 9 July</p>
                                <p class="u-text-h1 u-text-center">Endea Owens</p>
                                <a class="c-button  u-text-s-heavy">Go to the program</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="c-hero__background">
        <div class="o-retain o-retain--absolute-content o-retain--full">
            <div class="c-background-video">
        <video
                class="c-background-video__universal"
                muted autoplay playsinline aria-hidden="true" loop>
            <source src="/video/HEVC/prefestival_desktop-hevc.mp4" type='video/mp4; codecs="mp4"' />
            <source src="/video/VP9/prefestival_desktop-vp9.webm" type='video/webm; codecs="vp9"' />
            <source src="/video/HEVC/prefestival_desktop-hevc.mp4" type='video/mp4; codecs="hvc1"' />
            <source src="/video/H264/prefestival_desktop-h264.mp4" type="video/mp4" />
    </video>
</div>

        </div>
    </div>
</div>




<script type="module" src="/assets/bundle.js"></script>

</body>
</html>

