

<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/rotterdam.css">
    <title>NSJ Styleguide</title>
</head>
<body>

<div class="c-giant-teaser">
    <div class="c-giant-teaser__content">
            <div class="o-retain o-retain--6">
                <h2 class="text-uppercase">North Sea Jazz Newsletter</h2>
            </div>
    </div>
</div>


<script type="module" src="/assets/bundle.js"></script>

</body>
</html>

