

<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/rotterdam.css">
    <title>NSJ Styleguide</title>
</head>
<body>

<div class="c-projects c-projects--rows-of-three">
    <div class="o-layer o-layer--base">
        <div class="canvas-wrapper">
            <h2 class="u-text-h2  u-text-center">North sea&nbsp;jazz projects</h2>
        </div>
    </div>
    <div class="o-simple-slider  o-simple-slider--until-desktop" data-simple-slider="auto-play">
        <ul class="c-projects__item-list  o-simple-slider__list" data-simple-slider-list>
                <li data-simple-slider-item>
                    <div class="c-projects__item">
                            <img class="c-projects__image" width="455" height="568" src="https://www.northseajazz.com/-/media/northseajazz/rotterdam/homepagepanels/sowhatsnext.jpg" alt="Image alt text" srcset="
                                https://www.northseajazz.com/-/media/northseajazz/rotterdam/homepagepanels/sowhatsnext.jpg 1x,
                                https://www.northseajazz.com/-/media/northseajazz/rotterdam/homepagepanels/sowhatsnext.jpg 2x"/>
                        <div class="c-projects__item-gradient"></div>
                        <a href="#" class="c-button c-button--link  c-projects__caption">
                            <h3 class="u-text-s-heavy">So What&#x27;s Next?</h3>
                            <p class="u-text-s-heavy">4, 5, 6 November 2022</p>
                        </a>
                    </div>
                </li>
                <li data-simple-slider-item>
                    <div class="c-projects__item">
                            <img class="c-projects__image" width="455" height="568" src="https://picsum.photos/seed/rockit/455/568" alt="Image alt text" srcset="
                                https://picsum.photos/seed/rockit/455/568 1x,
                                https://picsum.photos/seed/rockit/910/1136 2x"/>
                        <div class="c-projects__item-gradient"></div>
                        <a href="#" class="c-button c-button--link  c-projects__caption">
                            <h3 class="u-text-s-heavy">Rockit</h3>
                            <p class="u-text-s-heavy">12 November 2022</p>
                        </a>
                    </div>
                </li>
                <li data-simple-slider-item>
                    <div class="c-projects__item">
                            <img class="c-projects__image" width="455" height="568" src="https://picsum.photos/seed/Transition/455/568" alt="Image alt text" srcset="
                                https://picsum.photos/seed/Transition/455/568 1x,
                                https://picsum.photos/seed/Transition/910/1136 2x"/>
                        <div class="c-projects__item-gradient"></div>
                        <a href="#" class="c-button c-button--link  c-projects__caption">
                            <h3 class="u-text-s-heavy">Transition</h3>
                            <p class="u-text-s-heavy">1 April 2023</p>
                        </a>
                    </div>
                </li>
        </ul>
    </div>
</div>


<script type="module" src="/assets/bundle.js"></script>

</body>
</html>

